<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="items ">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="items ">
                    <h3>AROUND THE WEB</h3>
                    <i class="fa-brands fa-facebook p-3 border border-gray rounded-circle me-3"></i>
                        <i class="fa-brands fa-twitter p-3 border border-gray rounded-circle me-3 "></i>
                        <i class="fa-brands fa-linkedin p-3 border border-gray rounded-circle me-3"></i>
                        <i class="fa-solid fa-globe p-3 border border-gray rounded-circle me-3"></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="items ">
                    <h3>AROUND THE WEB</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</section>