.items{
    background-color: #1ABC9C;
    height: max-content;
    padding: 50px;
}

.line{
    width: 200px;
    height: 6px;
    background-color: white;
}
@media screen and (max-width:640px) {
    .line{
        width: 100px;
        height: 6px;
        background-color: white;
    }
    .items{
        padding: 100px 0 100px 0 ;
    }
    
    
}

